%link{:type => "text/css", :rel => "stylesheet", :href => "css/main.css"}
<center>
%div
  %img{:src => "img/logo.jpg", :class => "logo"}
%form{:action => "#{locals[:host]}/login", :method => "get"}
  %fieldset
    %h2 Authentication failed
    %br
    %h3 Error: #{locals[:error]}
    %h3 Description: #{locals[:error_description]}
    %br
    %input{:type => "submit", :value => "Back to login", :class => "button"}
</center>
