%link{:type => "text/css", :rel => "stylesheet", :href => "css/main.css"}
<center>
%h1
  %img{:src => "img/logo.jpg", :class => "logo"}
%div{:hidden => locals[:no_password_login]}
  %h2 Password login:
  %form{:username => "username", :password => "password", :action => "#{locals[:host]}/login", :method => "post"}
    %fieldset
      %label{:for => "username"} Username:
      %input{:type => "text", :name => "username", :class => "text"}
      %br
      %label{:for => "password"} Password:
      %input{:type => "password", :name => "password", :class => "text"}
      %br
      %br
      %input{:type => "submit", :value => "Login", :class => "button"}
%div{:hidden => locals[:providers].empty?}
  %hr
  %h2 Login with external provider:
%div{:class => "idplist", :hidden => locals[:providers].empty?}
  %br
  - (locals[:providers]).each do |provider|
    %a{:href => provider[:url], :class => "button"}
      %span{:hidden => !provider[:logo].nil? } #{provider[:name]}
      %img{:src => "#{provider[:logo]}", :hidden => provider[:logo].nil?}
    %br
</center>
