%link{:type => "text/css", :rel => "stylesheet", :href => "css/main.css"}
<center>
%div
  %img{:src => "img/logo.jpg", :class => "logo"}
%form{:action => "#{locals[:host]}/logout", :method => "post"}
  %fieldset
    %h2 User has been successfully logged out
    %br
    %input{:type => "submit", :value => "Back to website", :class => "button"}
</center>
