# intellij
.idea
**/*.iml
.classpath
.project
.settings/
**/.flattened-pom.xml

# java backend
#target/
#**/*.jar

# react frontend
searchfrontend/node_modules
searchfrontend/build
docker/searchfrontend/build/
searchfrontend/package-lock.json

# logs
logs/

#Temporary env file
searchfrontend/public/env-config.js
searchfrontend/env-config.js
